@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    background-color: rgb(222, 222, 222);
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

#splash-screen{
    text-align: center;
    width: 600px;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 5%;
    
    #invaders{
        font-size: 80px;
        margin: 10px;
    }
    ul{
        list-style: "-";
        margin: 5px;
    }
    ul li{
        font-size: larger;
        margin: 10px;
    }
}

#rules, #objetives, #rules{
    margin: 50px;
}

#start-btn{
    font-size: 30px;
    width: 100px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

#game-box {
    background-color: darkgray;
    width:500px;
    height:700px;
  
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
  
    background-image: url("../images/bg-game.jpeg");
    background-size:contain;
    border-radius: 10px;
  }


#game-screen{
    display: none;
}

#game-over-screen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
} 

.restartBtn {
    margin: 50px;
    font-size: 20px;
    width: 100px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 20px;
}

#time, #lives {
    text-align: center;
    background-color: rgb(186, 221, 221);
    width: 200px;
    height: 100px;
    margin: 50px;
    border-radius: 5px;
    h1{
        margin: 10px;
        font-size: 40px;
    }
}